@import "./rem-calc.scss";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: rem-calc(35);
  width: rem-calc(95);

  padding: rem-calc(20) 0;

  font-weight: 700;
  color: var(--black);

  text-decoration: none;

  background: var(--color-4);
  border-radius: rem-calc(10);

  cursor: pointer;

  &:hover {
    color: var(--white);
    background: var(--color-2);
  }

  &.__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
