:root {
  --white: #f7f7f7;
  --black: #212121;

  // --color-1: #77030d;
  // --color-2: #5c060d;

  --color-1: #ff3cac;
  --color-2: #784ba0;
  --color-3: #2b86c5;

  --color-4: #fad961;
  --color-5: #f76b1c;
}
