@import "./rem-calc.scss";

.x::before,
.x::after {
  content: "";

  position: absolute;

  width: rem-calc(13.5);
  height: rem-calc(90);

  background-color: var(--white);
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  transform: rotate(-45deg);
}
