@import "../../../config-scss/rem-calc.scss";

:host {
  display: flex;
  flex-direction: column;

  .winner {
    position: absolute;
    top: rem-calc(25);

    color: var(--white);
    font-size: rem-calc(36);
    font-family: Marvel, sans-serif;
    letter-spacing: rem-calc(2);
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    height: rem-calc(350);
    width: rem-calc(350);

    /*
    Row config
    */
    .row {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      border: 2px solid var(--white);

      cursor: pointer;
    }

    .row.x,
    .row.o {
      cursor: not-allowed;
    }

    /*
    Excluding outer edges
    */
    .col-1 .row-1,
    .col-2 .row-1,
    .col-3 .row-1 {
      border-top: none;
    }

    .col-1 .row-1,
    .col-1 .row-2,
    .col-1 .row-3 {
      border-left: none;
    }

    .col-3 .row-1,
    .col-3 .row-2,
    .col-3 .row-3 {
      border-right: none;
    }

    .col-1 .row-3,
    .col-2 .row-3,
    .col-3 .row-3 {
      border-bottom: none;
    }

    /*
    X Icon
    */
    .x::before,
    .x::after {
      content: "";

      position: absolute;

      width: rem-calc(13.5);
      height: rem-calc(90);

      background-color: var(--white);
    }

    .x::before {
      transform: rotate(45deg);
    }

    .x::after {
      transform: rotate(-45deg);
    }

    /*
    O Icon
    */
    .o::before {
      content: "";

      position: absolute;

      width: rem-calc(60);
      height: rem-calc(60);

      background-color: transparent;
      border: 15px solid var(--white);
      border-radius: rem-calc(500);
    }
  }
}
