@import "../../../config-scss/rem-calc.scss";

:host {
  .selection {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

    height: 100%;
  }

  .game {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70vh;
  }

  .selected {
    position: absolute;
    bottom: rem-calc(20);

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;
  }
}
