@import "./config-scss/variables.scss";
@import "./config-scss/reset.scss";
@import "./config-scss/fonts.scss";
@import "./config-scss/rem-calc.scss";
@import "./config-scss/btn.scss";

html {
  font-family: "Roboto", sans-serif;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background: linear-gradient(45deg, var(--color-1), var(--color-2));
}

body {
  height: 100%;
  width: 100%;

  background-image: url("assets/bg/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
