@import "../../../config-scss/rem-calc.scss";

:host {
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      width: rem-calc(340);
      height: rem-calc(340);

      border-radius: rem-calc(100);
    }

    h1 {
      color: var(--white);
      font-size: rem-calc(24);
      font-weight: 700;

      margin: 0 auto;
      margin-top: rem-calc(15);
      margin-bottom: rem-calc(15);
    }
  }
}
